.otsikko {
    text-align: center;
    font-size: 3rem;
}

.show {
    margin: 0 auto;
    position: relative;
    padding: 20px;
    font-size: 1.5rem;
    height: 100%;
    width: 450px;
    display: none;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}

.main {
    margin: 0 auto;
    position: relative;
    height: 100%;
    width: 100%;
    display: none;
}

h2 {
    font-size: 2rem;
}